.jumbotron {
    background: url("./assets/holding_hands.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron .title {
    /* font-size: 32px; */
    color: #ffffff;
    font-weight: bold;
}

.jumbotron .subtitle {
    /* font-size: 18px; */
    font-style: italic;
    font-style: bold;
}

#contactus iframe {
    height: 120vh !important;
    width: 100% !important;
}

.jumbotron p,
.album h2,
#specializations h2,
#ourmission h1,
#whyus h2,
#reviews h2
/* #contactus h2 */
{
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 1.5s, transform 0.75s;    
}

.title.visible,
.subtitle.visible,
.album.visible h2,
.visible#specializations h2,
.visible#ourmission h1,
.visible#whyus h2,
.visible#reviews h2
/* .visible#contactus h2 */
{
    opacity: 1;
    transform: translateY(0px);
}

.title_text {
    /* font-size: 48px; */
    background: linear-gradient(to right, #67D7FF, #C6A0F6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #f5c255 !important;
}

.card {
    /* --bs-card-border-color: black; */
    border: solid 0.5px;
    background-color: #f5c255;
}

.fancy_text {
    background: linear-gradient(to right, #67D7FF, #C6A0F6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ourmission{
    background-color: #f5c255;
    overflow: hidden;
}
