.jumbotron {
    background: url("./assets/holding_hands.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10em;
}

.jumbotron .title {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
}

.jumbotron .subtitle {
    font-size: 24px;
    font-style: italic;
    font-style: bold;
}

.title_text {
    font-size: 72px;
    background: linear-gradient(to right, #67D7FF, #C6A0F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #f5c255 !important;
}

.card {
    /* --bs-card-border-color: black; */
    border: solid 0.5px;
    background-color: #f5c255;
}